{% extends "base.html" %}
{% block content %}
  <h1>Counter</h1>
  <div id="button-container">
    <button hx-get="{% url 'counter-increment' %}" hx-target="#button-container">{{ count }}</button>
  </div>
{% endblock %}
